In [26]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [27]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [28]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [29]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [30]:
# reflect an existing database into a new model
# Declare a Base using `automap_base()`
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [31]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [32]:
# Save references to measurement table
Measurements = Base.classes.measurement
Measurements

sqlalchemy.ext.automap.measurement

In [33]:
# Save references to station table
Station = Base.classes.station
Station

sqlalchemy.ext.automap.station

In [34]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [35]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [36]:
engine.execute('SELECT * FROM station LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

# Exploratory Precipitation Analysis

In [37]:
# Creating the inspector and connecting it to the engine:
inspector = inspect(engine)

# Collecting the names of the tables within the database:
inspector.get_table_names()

['measurement', 'station']

In [38]:
# Get a list of column names and types
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [39]:
# Find the most recent date in the data set.
recent_date = session.query(Measurements.date).order_by(Measurements.date.desc()).first()
recent_date

('2017-08-23',)

In [43]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.

year_ago = dt.date(2017,8,23) - dt.timedelta(days=365)
#print(year_ago)

# Perform a query to retrieve the data and precipitation scores
precipitation_data = session.query(Measurements.date, Measurements.prcp)\
                                    .filter(Measurements.date >= year_ago)\
                                    .filter(Measurements.date <= dt.date(2017,8,23))\
                                    .order_by(Measurements.date).all() 

len(precipitation_data)

# Save the query results as a Pandas DataFrame and set the index to the date column
precp_DF = pd.DataFrame(precipitation_data, columns=["Date","Precipitation"])
precp_DF.set_index("Date",inplace=True,)
#precp_DF = precp_DF.fillna(0)
precp_DF.head(15)

# Sort the dataframe by date
precp_DF = precp_DF.sort_values(by='Date')
precp_DF.head()

# Use Pandas Plotting with Matplotlib to plot the data
precp_DF= precp_DF["Precipitation"].fillna(0)
x_axis_data = precp_DF.index
list_x_axis_data = [*range(len(x_axis_data))]

# Calculate xticks
x_axis_positions = np.arange(min(list_x_axis_data), max(list_x_axis_data)+1, 250)
#x_axis_positions

tick_locations = []

#assign tick locations
for x in x_axis_positions:
    tick_locations.append(x_axis_data[x])
tick_locations

#plotting the chart
precp_DF.plot(title="Precipitation Analysis", figsize=(12,5))
plt.xticks(x_axis_positions,tick_locations, rotation = "vertical")
plt.xlabel("Date")
plt.ylabel("Precipitation in Inches")

plt.legend()
plt.grid(axis='both',linewidth=1)

#plt.tight_layout()
plt.savefig("images/Precipitation_Analysis.png")
plt.show()

            Precipitation
Date
2016-08-23           0.00
2016-08-23           0.15
2016-08-23           0.05
2016-08-23            NaN
2016-08-23           0.02
2016-08-23           1.79
2016-08-23           0.70
2016-08-24           0.08
2016-08-24           2.15
2016-08-24           2.28
2016-08-24            NaN
2016-08-24           1.22
2016-08-24           2.15
2016-08-24           1.45
2016-08-25           0.08

In [41]:
# Use Pandas to calcualte the summary statistics for the precipitation data
precp_DF.describe()

count    2230.000000
mean        0.160664
std         0.442067
min         0.000000
25%         0.000000
50%         0.010000
75%         0.110000
max         6.700000
Name: Precipitation, dtype: float64

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()